body{background-color: lightpink;
}

button {border-radius: 5px; background-color: blanchedalmond ;}

input {border-radius: 5px; font-size: small;}

.kotak {
    border: 2px solid black;
    border-radius: 5px;
    background-color: thistle;
    padding: 20px;
    width: 350px;
    margin: auto;
}

